.html .body .bg-primary {
  background: #1b325f; }

.html .body .primary {
  color: #1b325f; }

.html .body .bg-secondary {
  background: #eb540a; }

.html .body .secondary {
  color: #eb540a; }

.html .body .bg-tertiary {
  background: #9cc4e4; }

.html .body .tertiary {
  color: #9cc4e4; }

.html .body .header-link {
  color: white; }

.no-padding, .table > tbody > tr > td.no-padding {
  padding: 0; }

.center {
  text-align: center; }

div.ng-scope {
  padding: 0 20px; }

.body {
  min-height: 1000px;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300; }

.row {
  margin-bottom: 20px; }

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
  background: #e9f2f9; }

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background: #e9f2f9; }

.table-responsive {
  overflow-x: auto; }

.body table.table {
  margin-bottom: 0;
  border: 1px solid #dddddd; }
  .body table.table tr > th {
    background: whitesmoke; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 15px; }

.borderless tfoot {
    border: none;
}

.borderless td {
    border: none;
}

.btn.pull-right {
  margin-left: 20px; }

.no-pl {
  padding-left: 0; }

.adj-margin {
  margin-left: 16px; }

.cursor-hand {
  cursor: pointer; }

.breadcrumb {
  background-color: transparent; }

.navbar {
  border-radius: 0; }
  .navbar .nav li a {
    color: white; }
    .navbar .nav li a:hover {
      opacity: 0.5; }
  .navbar .dropdown-menu li a {
    color: black; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 80px auto; }

.btn-login {
  display: block;
  margin: 40px auto; }

#forgot {
  margin: 20px 0 0 12px;
  display: block; }

.modal-dialog {
  width: 300px;
  margin: 80px auto; }

.modal-content {
  padding: 10px; }

.modal-header {
  border-bottom: none; }

.modal-title, .modal-body p {
  text-align: center; }

.modal-footer {
  border-top: none;
  text-align: none;
  margin-top: 0; }
  .modal-footer button {
    width: 48.66%;
    float: left; }

.col-min-width {
  min-width: 90px; }

.timesheet {
  padding: 20px;
  border: 1px solid #dddddd; }
  .timesheet footer {
    margin-top: 20px;
    clear: both; }
    .timesheet footer button {
      float: right; }

.timesheet-nav {
  text-align: center; }
  .timesheet-nav li {
    border: 1px solid #dddddd;
    padding: 10px; }
    .timesheet-nav li:first-child {
      padding-left: 10px; }

footer.row {
  margin-top: 40px; }
  footer.row button {
    float: right; }

time {
  padding: 5px;
  border: 1px solid #dddddd;
  border-radius: 5px; }

.results {
  border: 1px solid #cccccc;
  min-height: 300px; }
  .results ul {
    list-style: none;
    margin-top: 15px; }
    .results ul li {
      background: #e9f2f9;
      padding: 5px;
      margin-top: 5px; }
    .results ul .disabled-true {
      background: #dddddd; }
    .results ul .true {
      background: rgba(0, 255, 0, 0.2) !important; }

.results {
  border: 1px solid #cccccc;
  min-height: 300px;
  padding: 0; }
  .results .table-hover > tbody > tr.disabled-true:hover > td,
  .results .table-hover > tbody > tr.disabled-true:hover > th {
    background: #dddddd; }
  .results .disabled-true {
    background: #dddddd; }
  .results .true {
    background: rgba(0, 255, 0, 0.2) !important; }

.table-wrapper {
  border: 1px solid #dddddd;
  min-height: 400px; }
  .table-wrapper tr.true {
    background: rgba(0, 255, 0, 0.2) !important; }

.manager .modal-dialog {
  width: 500px; }

.usertable {
  font-family: monospace; }

.body .usertable table.table tr .th-narrow {
  width: 15%; }

.body .usertable table.table tr .th-wide {
  width: 20%; }

#users-management {
  list-style: none;
  padding-left: 0; }

#users-management li {
  padding: 10px;
  background: #dddddd;
  border-radius: 5px;
  margin-bottom: 10px; }

.min-width {
  width: 70px; }

#notAssigned .true {
  display: none; }

#notAssigned .assign-true, .true {
  background: rgba(0, 255, 0, 0.2) !important; }

#assigned .false {
  display: none; }

#assigned .remove-true {
  background: rgba(255, 0, 0, 0.2) !important; }

#assigned .remove-false {
  background: transparent !important; }

#login {
  margin-top: 70px; }
