<content>
  <h1 class="secondary">Assign Responsible Engineer</h1><br />     
  <div ng-controller="EngineerController">
    <div class="row">
      <ul class="list-inline">
        <li class="col-xs-3">Project No.: <a href="#/manage-project/{{package.projectNumber}}">{{project.projectNumber}}</a></li>
        <li class="col-xs-3">Project Name: {{project.projectName}}</li>
        <li class="col-xs-3">WP No.: <a href="#/wp-details/{{package.workPackageNumber}}">{{package.workPackageNumber}}</a></li>
        <li class="col-xs-3">WP Title: {{package.workPackageName}}</li>
      </ul>
    </div>
    <div class="row">
      <p>Employee</p>
      <p class="col-xs-12 no-pl"><input type="text" ng-model="query" class="col-xs-5" placeholder="Enter Employee Name, number or PayGrade"/></p>
      <div class="col-xs-12 results">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th style="width: 33%;">Emp ID</th>
              <th style="width: 33%;">Emp Name</th>
              <th style="width: 33%;">Pay Grade</th>
            </tr>
            <tr ng-click="select(engineer); open()" class="{{engineer.selected}} disabled-{{engineer.disabled}}" ng-repeat="engineer in engineers | filter: search | limitTo: quantity">
              <td>{{engineer.id}}</td> 
              <td>{{engineer.firstName}} {{engineer.lastName}}</td>
              <td>{{engineer.pLevel}}</td>
            </tr>
          </tbody>
        </table>    
      </div>
      <div class="row">
        <div class="col-sm-2 pull-right">
          <p>&nbsp;</p>
          <button ng-click="addE()" class="btn btn-primary btn-block">Assign</button>
          <!-- <button ng-click="removeE()" class="btn btn-primary btn-block">Remove</button> -->
        </div>
      </div>
      <!-- <div class="col-xs-5 results">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th style="width: 33%;">Emp ID</th>
              <th style="width: 33%;">Emp Name</th>
              <th style="width: 33%;">Pay Grade</th>
            </tr>
            <tr ng-click="addedSelectE($index)" class="{{selectedEngineer.selected}}" ng-hide="!selectedEngineers" ng-repeat="selectedEngineer in selectedEngineers">
              <td>{{selectedEngineer.number}}</td> 
              <td>{{selectedEngineer.name}}</td>
              <td>{{selectedEngineer.paygrade}}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
  </div>
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3>Confirm Assignment</h3>
    </div>
    <div class="modal-body" style="text-align: center">
        <h5 style="margin: 25px 0;font-weight:bold">{{item.firstName}} {{item.lastName}}</h5>
        <h4>As The Responsible Engineer</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-success" ng-click="ok()">OK
        </button>
        <button class="btn btn-lg btn-danger" ng-click="cancel()">Cancel
        </button>
    </div>
</script>
</content>
