<content>
  <h1 class="secondary">Assign Manager to Project</h1><br />
  <div ng-controller="ManagerController">
    <div class="row">
      <div class="col-lg-4">Project No.: {{project.projectNumber}}</div>
      <div class="col-lg-4">Project Name: {{project.projectName}}</div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form action="" class="form-inline">
        <p>Search Project Manager:  <input ng-model="query" type="text" placeholder="search" class="form-control" /></p>
        </form>
        </div>
    </div>
    <div class="row table-wrapper">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <th style="width:20%;">Emp ID</th>
              <th style="width:40%;">Emp Name</th>
              <th style="width:40%;">Pay Grade</th>
            </tr>
            <tr ng-click="selectM($index)" class="{{manager.selected}}" ng-hide="!query" ng-repeat="manager in userList | filter: search">
              <td>{{manager.id}}</td> 
              <td>{{manager.name}}</td>
              <td>{{manager.paygrade}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-8 ">
            <a data-toggle="modal" data-target="#addModal" class="pull-right btn btn-primary btn-block">Select</a>
        </div>
        <div class="col-lg-2 ">
            <button ng-click="cancel()" class="pull-right btn btn-primary btn-block">Cancel</button>
        </div>
    </div>
  
  <div class="modal manager fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>Do you want to add this manager to the project?</p>
            <div ng-model="selectedManager">
              <span style="margin-right: 20px;"><strong>Name:</strong> {{selectedManager.name}}</span>
              <span><strong>Pay Grade:</strong> {{selectedManager.paygrade}}</span>
            </div>
            <p>&nbsp;</p>
            <p class="pull-left">Other assigned projects:</p>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Project No.</th>
                  <th>Description</th>
                </tr>
                <tr>
                  <td>PR01111</td>
                  <td>Cascadia</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button style="" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Add</button>
            <button style="" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
