<content>
    <div ng-controller="ATAController">
        <h1 class="secondary">Assign Timesheet Approver</h1>
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#/users">Manage Users</a></li>
                <li><a href="#/users/{{cUser.id}}">{{cUser.firstName}} {{cUser.lastName}}</a></li>
                <li class="active">Assign Timesheet Approver</li>
            </ol>
        </div>
    <div class="row">
      <strong><p class="col-xs-3">Emp ID: {{cUser.id}}</p></strong>
      <strong><p class="col-xs-4">Emp Name: {{cUser.firstName}} {{cUser.lastName}}</p></strong>
      <strong><p class="col-xs-4" ng-show="hasTimesheetApprover()">Current Timesheet Approver: {{ta.firstName}} {{ta.lastName}}</p></strong>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="col-xs-3" for="ta">Search Timesheet Approver: </label>
        <div class="col-xs-3">
          <input type="text" placeholder="Search by ID or Name" class="form-control" id="ta" ng-model="query" />
        </div>
      </div>          
    </div>
  <div class="row">
    <div class="row table-wrapper">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <th style="width:20%;">Emp ID</th>
              <th style="width:40%;">Emp Name</th>
              <th style="width:40%;">Pay Grade</th>
            </tr>
            <tr ng-click="select(ta); open()" class="{{ta.selected}}" ng-repeat="ta in users | filter: search" >
              <td>{{ta.id}}</td> 
              <td>{{ta.firstName}} {{ta.lastName}}</td>
              <td>{{ta.pLevel}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <!--
    <div class="row">
      <a href="" data-toggle="modal" data-target="#addModal" class="pull-right btn btn-primary">Select</a>
      <button ng-click="cancel()" class="pull-right btn btn-primary">Cancel</button>
    </div>-->

 <!-- <div class="modal manager fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>Do you want to assign this Supervisor to this employee?</p>
            <div ng-model="selectedEngineer">
              <span style="margin-right: 20px;"><strong>Name: {{selectedEngineer.firstName}} {{selectedEngineer.lastName}}</strong></span>
              <span><strong>Pay Grade:</strong> {{selectedEngineer.pLevel}}</span>
            </div>
          </div>
          <div class="modal-footer">
            <button  class="btn btn-primary" data-dismiss="modal" ng-click="save()">Add</button>
            <button  class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>-->
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3>Confirm Assignment</h3>
      </div>
      <div class="modal-body" style="text-align: center">
          <h5 style="margin: 25px 0;font-weight:bold">{{item.firstName}} {{item.lastName}}</h5>
          <h4>As The Timesheet Approver</h4>
      </div>
      <div class="modal-footer">
          <button class="btn btn-lg btn-success" ng-click="ok()">OK
          </button>
          <button class="btn btn-lg btn-danger" ng-click="cancel()">Cancel
          </button>
      </div>
  </script>  
</content>
