<content>
  <h1 class="secondary">Assign To Supervisor</h1>
  <div ng-controller="ASController">
    <div class="row">
      <p class="col-xs-3">Emp ID: {{cUser.id}}</p>
      <p class="col-xs-9">Emp Name: {{cUser.firstName}} {{cUser.lastName}}</p>
    </div>
    <div class="row">
      <form action="" class="form-inline">
        <p>
          Search Supervisor:  <input ng-model="query" type="text" placeholder="Search" class="form-control" />
          <input ng-model="timesheetApprover" type="checkbox" /> Also make TimesheetApprover
        </p>

      </form>
    </div>
    <div class="row table-wrapper">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <th style="width:20%;">Emp ID</th>
              <th style="width:40%;">Emp Name</th>
              <th style="width:40%;">Pay Grade</th>
            </tr>
            <tr ng-click="selectM(supervisor)" class="{{supervisor.selected}}" ng-hide="!query" ng-repeat="supervisor in userList | filter: search">
              <td>{{supervisor.id}}</td> 
              <td>{{supervisor.firstName}} {{supervisor.lastName}}</td>
              <td>{{supervisor.pLevel}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <a href="" data-toggle="modal" data-target="#addModal" class="pull-right btn btn-primary">Select</a>
      <button ng-click="cancel()" class="pull-right btn btn-primary">Cancel</button>
    </div>

  <div class="modal manager fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>Do you want to assign this Supervisor to this employee?</p>
            <div ng-model="selectedEngineer">
              <span style="margin-right: 20px;"><strong>Name: {{selectedEngineer.firstName}} {{selectedEngineer.lastName}}</strong></span>
              <span><strong>Pay Grade:</strong> {{selectedEngineer.pLevel}}</span>
            </div>
          </div>
          <div class="modal-footer">
            <button style="" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Add</button>
            <button style="" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>  
</content>
