<content>
  <div ng-controller="CreateWPController">
    <h1 class="secondary">Create Work Package</h1><br />      
  <div class="row">
      <p class="col-lg-3">Project No. 
        {{project.projectNumber}}
      </p>
      <p class="col-lg-4">Project Name: {{project.projectName}}</p>
      <p class="col-lg-4">Budget: {{project.allocatedBudget | currency: amount: symbol}}</p>
  </div>
    <div class="well">
        <div class="row">
            <div class="col-lg-2"><p>WorkPackage No: </p></div>
            <div class="col-lg-4"><input type="text" ng-model="workPackage.workPackageNumber" class="form-control"></div>
            <div class="col-lg-2"><p>WorkPackage Title: </p></div>
            <div class="col-lg-4"><input type="text" ng-model="workPackage.workPackageName" class="form-control"></div>
            <div class="col-lg-12"><br /> </div>
            <div class="col-lg-2"><p>Estimate At Start: </p></div>
            <div class="col-lg-4"><input type="text" ng-model="workPackage.estimateAtStart" class="form-control"></div>
            <div class="col-lg-2"><p>Estimate at Completion:</p></div> 
            <div class="col-lg-4"><input type="text" ng-model="workPackage.estimateToCompletion" class="form-control"></div>
            <div class="col-lg-2"><p>Status: </p></div>
            <div class="col-lg-4">              
              <select ng-model="workPackage.progressStatus" ng-options="s for s in statuses">
              </select>
            </div>
            <div class="col-lg-2"><p>Description:</p></div> 
            <div class="col-lg-4"><input type="text" ng-model="workPackage.description" class="form-control"></div>
            <div class="col-lg-12"><br /> </div>      
        </div>
        <div class="row">
            <div class = "col-lg-12"><button ng-click="save()" class="btn btn-primary pull-right">Save</button></div>
        </div>
    </div>
  </div>
</content>
