<content>
  <div ng-controller="DashboardController">
    <h1>Dashboard</h1>
    <div ng-hide="timesheets" class="thumbnail">
      <br/>
      <img class="img-circle" class="img-responsive"  src="./images/cat.jpg">
      <div class="caption center">
        <h3>Good, no Timesheets to correct.</h3>
      </div>
    </div>    
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <tbody>
          <tr ng-repeat="timesheet in timesheets | limitTo: quantity">
            <td>Week No: {{timesheet.weekNumber}}</td>
            <td>
              <span ng-hide="timesheet.isApproved">Declined</span>
            </td>
            <td><a ng-href="#/timesheet/{{timesheet.id}}">Correct</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</content>