<content>
  <div ng-controller="EditPayRatesController">
    <h1 class="secondary">Edit Pay Rates</h1>
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <tbody>
          <tr ng-repeat="p in payRates">
            <td>{{p.pLevel}}</td>
            <td><input type="text" ng-change="change(p)" ng-model="p.rate"/></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" ng-click="edit()">Save</button>
   </div>  
  </div>
</content>
