<content>
  <div ng-controller="EditPayRatesController">
    <div class="row">
      <h1 class="secondary">Edit Pay Rates</h1><br />
      <div class="col-lg-4 no-padding">
          <button class="btn btn-primary btn-lg btn-block" ng-click="prior()"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
      </div>
      <div class="col-lg-3 no-padding">
          <button class="btn btn-primary btn-lg btn-block"  ng-click="current()">Current</button>
      </div>
      <div class="col-lg-3 no-padding">
          <button class="btn btn-primary btn-lg btn-block" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
      <div class="col-lg-4 no-padding">
          <table class="table table-hover table-bordered">
              <tr>
                <th class="center">Pay Level</th>
                <th class ="center">{{(index - 1)}}</th>
              </tr>
              <tr ng-repeat="pp in payRatesMap[(index - 1)]">
                <td class="center"><strong>{{pp.pLevel}}</strong></td>
                <td><input class="center" type="text" ng-readonly="" ng-change="change(pp)" ng-model="pp.rate"/></td>
              </tr>
          </table>
      </div>
      <div class="col-lg-3 no-padding">
          <table class="table table-hover ">
            <tbody>
            <tr>
              <th class="center">{{(index)}}</th>
            </tr>
              <tr ng-repeat="pc in payRatesMap[index]">
                <td><input class="center" type="text" ng-readonly="" ng-change="change(pc)" ng-model="pc.rate"/></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-lg-3 no-padding">
          <table class="table table-hover ">
            <tbody>
              <tr> 
                <th class="center">{{(index + 1)}}</th>
              </tr>
              <tr ng-repeat="pn in payRatesMap[(index + 1)]">
                <td><input class="center" type="text" ng-readonly="" ng-change="change(pn)" ng-model="pn.rate"/></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div> 
    <div class="row">
        <div class="col-lg-3 col-lg-offset-4 no-padding">
            <button class="btn btn-primary btn-lg btn-block" ng-click="edit()">Save</button>
        </div>
    </div>
  </div>
</content>
