<content>
  <div class="row">
    <h1>Engineer Budget Estimate</h1>
    <ul class="list-inline">
      <li class="col-xs-3">Project Number: PR0001</li>
      <li class="col-xs-3">Project Name: MOSAICS</li>
      <li class="col-xs-3">Project Manager: David L. Bowden</li>
    </ul>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <tr>
            <th>WP#</th>
            <th>Description</th>
            <th>P5<br>266</th>
            <th>P4<br>225</th>
            <th>P3<br>179</th>
            <th>P2<br>147</th>
            <th>P1<br>115</th>
            <th>DS<br>97</th>
            <th>SS<br>107</th>
            <th>Total<br>MD</th>
            <th>Labour<br>Dollars</th>
          </tr>
          <tr>
            <td>B1111</td>
            <td>Project Setup</td>
            <td>65</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>65</td>
            <td>17290</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary pull-right">Cancel</button>
    <button class="btn btn-primary pull-right">Save</button>
  </div>
</content>
