<content>
	<div ng-controller="LoginController" id="login" class="center-block well" style="max-width:444px">
		<h2>Project Management System</h2><br />
		<form name="loginForm">
			<div class="input-group input-group-lg">
				<span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
				<input type="text" class="form-control" ng-model="username" id ="userName" placeholder="Username" required>
			</div>
			<br />
			<div class="input-group input-group-lg">
				<span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
				<input type="password" class="form-control" ng-model="password" id ="password" placeholder="Password" required>
			</div>
			<br />
			<input type="submit" class="btn btn-primary btn-lg btn-block" ng-click="login()" value="Log In" /><br /><br />
		</form>
	</div>
	<style type="text/css">
	body {
		overflow:hidden;
	}
	</style>
</content>