<content>
<div ng-controller="WPManagementController">
  <h1 class="secondary">Manage Work Package</h1><br />
  <div class="row">
    <p class="col-lg-3">Project No. 
      <select ng-init="loadProjects()" ng-change="loadWorkPackages()" ng-model="project" ng-options="p.projectNumber for p in projects">
      </select>
    </p>
    <p class="col-lg-4">Project Name: {{project.projectName}}</p>
    <p class="col-lg-4">Budget: {{project.allocatedBudget | currency: amount: symbol}}</p>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <form action="" class="form-inline">
        <p>Search WP Number:  <input type="text" ng-model="query.workPackageNumber" placeholder="search" class="form-control" /></p>
      </form>
    </div>
    <div class="col-lg-6">
      <a href="#/create-wp/{{project.projectNumber}}" ng-disabled="!projectChosen" class="btn btn-success pull-right">Create Work Package</a>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive col-lg-12">
      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <tr>
            <th>WP Number</th>
            <th>WP Title</th>
            <th>Assign Responsible Engineer</th>
            <th>Assign Employees</th>
            <th>Issue Date</th>
            <th>Budget</th>
            <th>Status</th>
          </tr>
          <tr ng-repeat="wp in workPackages | filter: query">
            <td><a href="#/wp-details/{{wp.workPackageNumber}}" has-permission="ProjectManager">{{wp.workPackageNumber}}</a></td>
            <td><a href="#/wp-status-report/{{wp.workPackageNumber}}" has-permission="ResponsibleEngineer">{{wp.workPackageNumber}}</a></td>
            <td>{{wp.workPackageName}}</td>
            <td><a href="#/add-engineer/{{wp.workPackageNumber}}">Assign Responsible Engineer</a></td>
            <td><a href="#/assign-employee-wp/{{wp.workPackageNumber}}">Assign Employees</a></td>
            <td>{{wp.issueDate}}</td>
            <!-- Figure this out later -->
            <td>TBD</td>
            <td>
              <select ng-model="wp.progressStatus" ng-change="change(wp)" ng-options="s for s in statuses">
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</content>
