<content>
<div ng-controller="WPManagementPMController">
  <h1 class="secondary">Manage Work Package</h1><br />
  <div class="row">
    <p class="col-lg-2">Project No. </p>    
    <div class="col-lg-3">
      <select  class="form-control" ng-init="loadProjects()" ng-change="loadWorkPackages()" ng-model="project" data-ng-options="p.projectNumber for p in projects">
      <option value="">-- select project No. --</option>
      </select>
    </div>
    <p class="col-lg-4">Project Name: {{project.projectName}}</p>
    <p class="col-lg-3">Budget: {{project.allocatedBudget | currency: amount: symbol}}</p>
  </div>
  <div class="row">
    <form action="" class="form-inline">
      <p class="col-lg-2">Search WP Number:</p> 
      <div class="col-lg-3">
        <input type="text" ng-model="query.workPackageNumber" placeholder="search" class="form-control" />
      </div>
    </form>
    <div class="col-lg-7 pull-rigt">
      <button ng-click="create()" ng-disabled="!projectChosen" class="btn btn-success pull-right" has-permission="ProjectManager">Create Work Package</button>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive col-lg-12">
      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <tr>
            <th>WP Number</th>
            <th>WP Title</th>
            <th>Assign Responsible Engineer</th>
            <th>Assign Employees</th>
            <th>Issue Date</th>            
            <th>Status</th>
          </tr>
          <tr ng-repeat="wp in workPackages | filter: query | limitTo: quantity">
            <td>
               <a href="#/wp-details/{{wp.workPackageNumber}}">{{wp.workPackageNumber}}</a>
            </td>
            <td>{{wp.workPackageName}}</td>
            <td>
              <a href="#/add-engineer/{{wp.workPackageNumber}}" ng-show="isLeaf(wp) && wp.progressStatus">Assign Responsible Engineer</a>
              <span ng-hide="isLeaf(wp)">N/A</span>
            </td>
            <td>
              <a href="#/assign-employee-wp/{{wp.workPackageNumber}}" ng-show="isLeaf(wp) && wp.progressStatus">Assign Employees</a>
              <span ng-hide="isLeaf(wp)">N/A</span>
            </td>
            <td>{{wp.issueDate}}</td>
            <td>{{wp.progressStatus | alterStatus}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</content>
