<content>
    <h1 class="secondary">Project Summary</h1><br /> 
    <div ng-controller="ProjectSummaryController">
    <div class="row">
      <p class="col-xs-3">Project Name: {{project.projectName}}</p>
      <p class="col-xs-3">Project Number: {{project.projectNumber}}</p>
      <p class="col-xs-6">Project Manager: {{projectManager}}</p>
    </div>
    <div class="row">
      <time class="col-xs-3">Jan 2014</time>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
          <tbody>
            <tr>
              <th>WP#</th>
              <th>Description</th>
              <th>P5<br></th>
              <th>P4</th>
              <th>P3<br>ACWP</th>
              <th>P2<br>EAC</th>
              <th>P1</th>
              <th>DS %</th>
              <th>TOTAL</th>
              <th>Labour Dollars</th>
            </tr>
            <tr ng-repeat="row in rows">
              <td>{{row.workPackageNumber}}</td>
              <td>{{row.workPackageDescription}}</td>
              <td>{{row.PLevels.P5}}</td>
              <td>{{row.PLevels.P4}}</td>
              <td>{{row.PLevels.P3}}</td>
              <td>{{row.PLevels.P2}}</td>
              <td>{{row.PLevels.P1}}</td>
              <td>{{row.PLevels.DS}}</td>
              <td>{{row.PLevels.SS}}</td>
              <td>{{(row.PLevels.P5 + row.PLevels.P4 + row.PLevels.P3 + row.PLevels.P2+ row.PLevels.P1 +row.PLevels.DS + row.PLevels.SS)}}</td>
              <td>{{row.labourDollars}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</content>
