<content>
  <div class="row">
    <p class="col-xs-3">Project No. 
      <select name="" id="">
        <option value="">PR0001</option>
        <option value="">PR0002</option>
      </select>
    </p>
    <p class="col-xs-3">Project Name: MOSAICS</p>
    <p class="col-xs-3">Project Manager: David L. Bowden</p>
  </div>
  <div class="row">
    <time class="col-xs-1">Jan 2014</time>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <tr>
            <th>WP#</th>
            <th>Stats</th>
            <th>Project Budget<br>(BCWS)</th>
            <th>Engineer Planned</th>
            <th>Actual to Date<br>ACWP</th>
            <th>Estimate at Completion<br>EAC</th>
            <th>Variance PD</th>
            <th>Variance %</th>
            <th>Task Status</th>
          </tr>
          <tr>
            <td>12110</td>
            <td>Person-Days</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Labour $</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>12120</td>
            <td>Person-Days</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Labour $</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Total PDs</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Total Labour $</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</content>
