<content>
  <div ng-controller="ProjectManagementController">
  	<div ng-hide="add_project">
      <div class="row">
        <p class="col-xs-12 no-pl"><input type="text" ng-model="query.projectNumber" class="col-xs-5" placeholder="Enter Project Number"/></p>
        <button class="btn btn-primary" ng-click="add()">Add Project</button>
        <div class="col-xs-10 results">
          <ul class="no-pl">
            <li ng-repeat="project in projects | filter:query" ng-hide="!query">
      	      {{project.projectNumber}} {{project.projectName}} {{project.allocatedBudget}} {{project.unAllocatedBudget}} 
              {{project.completeDate}} {{project.issueDate}} {{project.clientRate}}
            </li>
          </ul>
  	    </div>
      </div>
    </div>
    <div ng-show="add_project">
    	<input type="text" ng-model="newproject.projectNumber" placeholder="Project Number"></input>
    	<input type="text" ng-model="newproject.projectName" placeholder="Project Name"></input>
    	<input type="text" ng-model="newproject.allocatedBudget" placeholder="Allocated Budget"></input>
    	<input type="text" ng-model="newproject.unAllocatedBudget" placeholder="Unallocated Budget"></input>
    	<input type="text" ng-model="newproject.completeDate" placeholder="Start Date"></input>
      <input type="text" ng-model="newproject.issueDate" placeholder="Issue Date"></input>
      <button class="btn btn-primary" ng-click="save()">Save Project</button>
    </div>
  </div>
</content>
