<content>
  <h1 class="secondary">Project Details</h1><br />
  <div ng-controller="ProjectDetailsController">
    <!-- <p>{{project}}</p> -->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <p class="col-sm-3">Project No: {{project.projectNumber}}</p>
          <p class="col-sm-3">Project Name: {{project.projectName}}</p>
          <p class="col-sm-3">Budget: </p>
          <p class="col-sm-3">Remaining Budget: </p>
        </div>
      </div>
    </div>      
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">Assigned Employees:</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <th>Assigned Employees</th>
                  <th>P-Level</th>
                </thead>
                <tbody>
                  <tr ng-repeat="user in assignedUsers">
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.pLevel}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>            
        </div>        
      </div>
      <div class="col-sm-7">
        <div class="panel panel-default">
          <div class="panel-heading">P-Level:</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <th>P-Level</th>
                  <th>Person Days for Completion</th>
                  <th>Person Days Spent</th>
                  <th>Estimated Remaining Person Days</th>
                </thead>
              </table>
            </div>
        </div>
      </div>
    </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
              <div class="panel-heading">Future Assigned Employees:</div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover table-bordered">
                    <thead>
                      <th>Assigned Employees</th>
                      <th>Pay Grade</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
      <div class="col-sm-7">
        <div class="panel panel-default">
          <div class="panel-heading">Budget & Cost:</div>
          <div class="panel-body">
            <p>Budgeted Cost: {{project.estimateAtStart}}</p>
            <p>Engineers Estimate: </p>
            <p>Estimated Actual Cost at Completion: {{project.estimateToCompletion}}</p>
            <p>Estimated Start Date: {{project.startDate}}</p>
            <p>Estimated End Date: {{project.endDate}}</p>
        </div>
        </div>
      </div>
    </div>
  </div>  
</content>
