<content>
  <div ng-controller="TADetailsController">
    <h1 class="secondary">TimeSheet</h1>
    <div class="row">
        <ol class="breadcrumb">
          <li><a href="#/timesheet-approval">Timesheet Approval</a></li>
          <li class="active">Timesheet</li>
        </ol>   
    </div>    
    <div class="row">
      <ul class="list-inline center">
        <li>Emp ID: {{timesheet.userId}}</li>
        <li>Emp Name: {{userMap[timesheet.userId].firstName}} {{userMap[timesheet.userId].lastName}}</li>
      </ul>
    </div>
    <div class="row">
      <div class="table-responsive timesheet">
        
        <table class="table table-hover table-striped table-bordered">
          <tbody>
            <tr>
              <th>Project No</th>
              <th>WP No</th>
              <th>Sat</th>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Total</th>
            </tr>
            <tr ng-repeat="r in timesheet.timesheetRows">
              <td>
                <select ng-model="r.projectNumber" ng-hide="timesheet.signed" ng-change="listWP(r.projectNumber)" ng-options="p for p in projectNumbers"></select>
                <span ng-show="timesheet.signed">{{r.projectNumber}}</span>
              </td>
              <td>
                <select ng-model="r.workPackageNumber" ng-hide="timesheet.signed" ng-options="w for w in workPackageNumbers[r.projectNumber]"></select>
                <span ng-show="timesheet.signed">{{r.projectNumber}}</span>
              </td>
              <td><span ng-bind="r.saturday" totenth /></td>
              <td><span ng-bind="r.sunday" totenth /></td>
              <td><span ng-bind="r.monday" totenth /></td>
              <td><span ng-bind="r.tuesday" totenth /></td>
              <td><span ng-bind="r.wednesday" totenth /></td>
              <td><span ng-bind="r.thursday" totenth /></td>
              <td><span ng-bind="r.friday" totenth /></td>
              <td>{{(r.saturday + r.sunday + r.monday + r.tuesday + r.wednesday + r.thursday + r.friday) / 10 }}</td>
            </tr>
          </tbody>
        </table>
        <footer>
          <p class="col-xs-4">Overtime: {{timesheet.overTime}} </p>
          <p class="col-xs-4">Flextime: {{userMap[timesheet.userId].totalFlexTime}} </p>
        </footer>
      </div>
    </div>
    <div class="row pull-right">
        <button class="btn btn-primary" ng-click="approve()">Approve</button>&nbsp;
        <button class="btn btn-danger" ng-click="reject()">Reject</button>
    </div>
  </div>
</content>
