<content>
  <div ng-controller="TADetailsController">
    <div class="row">
      <h1 class="secondary col-xs-4">TimeSheet</h1>
      <ul class="list-inline col-xs-8 emp-info">
        <li>Emp ID: {{timesheet.userId}}</li>
        <li>Emp Name: {{userMap[timesheet.userId].firstName}} {{userMap[timesheet.userId].lastName}}</li>
      </ul>
    </div>
    <div class="row">
      <div class="table-responsive timesheet">
        
        <table class="table table-hover table-striped table-bordered">
          <tbody>
            <tr>
              <th>Project No</th>
              <th>WP No</th>
              <th>Sat</th>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Total</th>
            </tr>
            <tr ng-repeat="r in timesheet.timesheetRows">
              <td>
                <select ng-model="r.projectNumber" ng-hide="timesheet.signed" ng-change="listWP(r.projectNumber)" ng-options="p for p in projectNumbers"></select>
                <span ng-show="timesheet.signed">{{r.projectNumber}}</span>
              </td>
              <td>
                <select ng-model="r.workPackageNumber" ng-hide="timesheet.signed" ng-options="w for w in workPackageNumbers[r.projectNumber]"></select>
                <span ng-show="timesheet.signed">{{r.projectNumber}}</span>
              </td>
              <td>{{r.saturday}}</td>
              <td>{{r.sunday}}</td>
              <td>{{r.monday}}</td>
              <td>{{r.tuesday}}</td>
              <td>{{r.wednesday}}</td>
              <td>{{r.thursday}}</td>
              <td>{{r.friday}}</td>
              <td>{{r.saturday + r.sunday + r.monday + r.tuesday + r.wednesday + r.thursday + r.friday}}</td>
            </tr>
          </tbody>
        </table>
        <footer>
          <p class="col-xs-4">Overtime: {{timesheet.overTime}} </p>
          <p class="col-xs-4">Flextime: {{userMap[timesheet.userId].totalFlexTime}} </p>
          <button class="btn btn-primary" ng-click="add()">Add new row</button>
        </footer>
      </div>
    </div>
    <footer class="row">
      <div class="col-xs-6">
        <p><input type="checkbox" ng-model="timesheet.signed" /><span> Signature</span></p>
        <p><input type="checkbox" ng-model="timesheet.approved" /><span> Approve</span></p>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>    
    </footer>
  </div>
</content>
