<content>
  <h1 class="secondary">Timesheet Approval</h1><br /> 
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <tbody>
          <tr>
            <th>Project No</th>
            <th>WP No</th>
            <th>Emp ID</th>
            <th>Emp Name</th>
            <th>Timesheet</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#/timesheet">Timesheet</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#/timesheet">Timesheet</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#/timesheet">Timesheet</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#/timesheet">Timesheet</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</content>
