<content>
  <div ng-controller="TimesheetController">
    <h1 class="secondary">TimeSheet</h1>
    <div class="row">
      <ul class="list-inline center">
          <li>Week Number: {{timesheet.weekNumber}}</li>
        <li>Employee ID: {{user.id}}</li>
        <li>Employee Name: {{user.firstName}} {{user.lastName}}</li>
      </ul>
    </div>
    <div class="row" ng-hide="hasProjects()">
      <div class="col-lg-12 text-center">
        You can only fill a timesheet if you are assigned to an project
      </div>
    </div>
    <div class="row" ng-show="hasProjects()">
      <div class="table-responsive timesheet">
        <ul class="list-inline timesheet-nav">
          <li class="cursor-hand" ng-click="prior()">&lt; Week</li>
          <li class="bg-tertiary">Today</li>
          <li class="cursor-hand" ng-click="next()">Week &gt;</li>
        </ul>
        
        <table class="table table-hover table-striped table-bordered">
          <tbody>
            <tr>
              <th>Project No</th>
              <th>WP No</th>
              <th>Sat</th>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Total</th>
              <th>Delete</th>
            </tr>
            <tr ng-repeat="r in timesheet.timesheetRows">
              <td>
                <select ng-model="r.projectNumber" ng-hide="timesheet.signed" ng-options="p for p in projectNumbers"></select>
                <span ng-show="timesheet.signed">{{r.projectNumber}}</span>
              </td>
              <td>
                <select ng-model="r.workPackageNumber" ng-hide="timesheet.signed" ng-options="w for w in workPackageNumbers[r.projectNumber]"></select>
                <span ng-show="timesheet.signed">{{r.workPackageNumber}}</span>
              </td>
              <td><input type="number" totenth step="0.1" class="form-control" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.saturday"></input></td>
              <td><input type="number" totenth step="0.1" class="form-control" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.sunday"></input></td>
              <td><input type="number" totenth step="0.1" class="form-control" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.monday"></input></td>
              <td><input type="number" totenth step="0.1" class="form-control" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.tuesday"></input></td>
              <td><input type="number" totenth step="0.1" class="form-control" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.wednesday"></input></td>
              <td><input type="number" totenth step="0.1" class="form-control" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.thursday"></input></td>
              <td><input type="number" totenth step="0.1" class="form-control" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.friday"></input></td>
              <td>{{(r.saturday + r.sunday + r.monday + r.tuesday + r.wednesday + r.thursday + r.friday) / 10}}</td>
              <td><span ng-click="delete($index)" class="cursor-hand">Delete</span></td>
            </tr>
          </tbody>
        </table>
        <footer>
          <div class="row"><p class="col-xs-4">Overtime:<span ng-bind="(timesheet.overTime / 10)" /> </p></div>
          <div class="row">
            <p class="col-xs-4">Flextime: {{user.totalFlexTime}} </p>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 pull-right"><button class="btn btn-success btn-block" ng-click="add()" ng-disabled="timesheet.signed" ng-hide="timesheet.approved">Add new row</button></div>
          </div>
        </footer>
      </div>
    </div>
    <footer class="row" ng-show="hasProjects()">
      <div class="col-xs-6">
        <p ng-hide="default"><input type="checkbox" ng-model="makeDefault" /><span> Make Default</span></p>
        <p ng-show="default">Current Default Timesheet</p>
        <p ng-hide="timesheet.approved"><input type="checkbox" ng-model="timesheet.signed"/><span> Signature</span></p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 pull-right">
        <button class="btn btn-primary btn-block" ng-click="save()">Save</button>
        <button class="btn btn-primary btn-block" ng-hide="timesheet.approved" ng-disabled="!timesheet.signed" ng-click="submit()">Submit</button>
      </div>    
    </footer>
  </div>
</content>