<content>
  <div ng-controller="TimesheetCorrectionController">
    <h1 class="secondary">TimeSheet Correction</h1>
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li class="active">TimeSheet Correction</li>
      </ol>   
    </div>    
    <div class="row">
      <ul class="list-inline center">
          <li>Week Number: {{timesheet.weekNumber}}</li>
          <li>Employee ID: {{user.id}}</li>
          <li>Employee Name: {{user.firstName}} {{user.lastName}}</li>
      </ul>
    </div>
    <div class="row">
      <div class="table-responsive timesheet">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th class="text-center">Project No</th>
              <th class="text-center">WP No</th>
                <th>Total</th>
              <th class="text-center">Sat</th>
              <th class="text-center">Sun</th>
              <th class="text-center">Mon</th>
              <th class="text-center">Tue</th>
              <th class="text-center">Wed</th>
              <th class="text-center">Thu</th>
              <th class="text-center">Fri</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td></td>
                <td>Total:</td>
                <td class="text-right">{{total / 10}}</td>
                <td class="text-center">{{sat / 10}}</td>
                <td class="text-center">{{sun / 10}}</td>
                <td class="text-center">{{mon / 10}}</td>
                <td class="text-center">{{tue / 10}}</td>
                <td class="text-center">{{wed / 10}}</td>
                <td class="text-center">{{thu / 10}}</td>
                <td class="text-center">{{fri / 10}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Overtime:</td>
                <td class="text-right"> {{timesheet.overTime / 10}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Flextime:  </td>
                <td class="text-right">{{user.totalFlexTime / 10}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
            <tbody>
            <tr ng-repeat="r in timesheet.timesheetRows">
              <td>
                <select ng-model="r.projectNumber" ng-hide="timesheet.signed" ng-options="p for p in projectNumbers"></select>
                <span ng-show="timesheet.signed">{{r.projectNumber}}</span>
              </td>
              <td>
                <select ng-model="r.workPackageNumber" ng-hide="timesheet.signed" ng-options="w for w in workPackageNumbers[r.projectNumber]"></select>
                <span ng-show="timesheet.signed">{{r.workPackageNumber}}</span>
              </td>
                <td class="text-right">{{(r.saturday + r.sunday + r.monday + r.tuesday + r.wednesday + r.thursday + r.friday) / 10}}</td>
              <td><input type="number" totenth step="0.1" class="form-control text-right" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.saturday" /></td>
              <td><input type="number" totenth step="0.1" class="form-control text-right" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.sunday" /></td>
              <td><input type="number" totenth step="0.1" class="form-control text-right" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.monday" /></td>
              <td><input type="number" totenth step="0.1" class="form-control text-right" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.tuesday" /></td>
              <td><input type="number" totenth step="0.1" class="form-control text-right" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.wednesday" /></td>
              <td><input type="number" totenth step="0.1" class="form-control text-right" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.thursday" /></td>
              <td><input type="number" totenth step="0.1" class="form-control text-right" min="0" max="240" ng-readonly="timesheet.signed" ng-model="r.friday" /></td>
                <td><span ng-click="timesheet.signed || delete($index)" class="cursor-hand glyphicon glyphicon-remove-circle"></span></td>
<!--                <td><span ng-click="" class="glyphicon glyphicon-list-alt"></span></td> -->
            </tr>
          </tbody>
        </table>
        <footer>
          <div class="row">
              <!--<p class="col-xs-4">Overtime:<span ng-bind="(timesheet.overTime / 10)" /> </p>-->
          </div>
          <div class="row">
            <!--<p class="col-xs-4">Flextime: {{user.totalFlexTime}} </p>-->
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 pull-right"><button class="btn btn-success btn-block" ng-disabled="timesheet.signed" ng-click="add()">Add new row</button></div>
          </div>
        </footer>
      </div>
    </div>
    <footer class="row">
      <div class="col-xs-6">
        <p><input type="checkbox" ng-model="default" /><span> Make Default</span></p>
        <p><input type="checkbox" ng-model="timesheet.signed"/><span> Signature</span></p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 pull-right">
        <button class="btn btn-primary btn-block" ng-click="save()">Save</button>
        <button class="btn btn-primary btn-block" ng-disabled="!timesheet.signed" ng-click="submit()">Submit</button>
      </div>    
    </footer>
  </div>
</content>