<content>
  <div ng-controller="TAController">
    <h1 class="secondary">Timesheet Approval</h1><br /> 
    <div class="row">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <tbody>
            <tr>
              <th>Emp ID</th>
              <th>Emp Name</th>
              <th>Week No</th>
              <th>Timesheet</th>
            </tr>
            <tr>
             <td ng-hide="timesheet.length">No Timesheets to manage at the moment</td>
            </tr>
            <tr ng-repeat="timesheet in timesheets">
              <td>{{timesheet.userId}}</td>
              <td>{{userMap[timesheet.userId].firstName}} {{userMap[timesheet.userId].lastName}}</td>
              <td>{{timesheet.weekNumber}}</td>
              <td><a class="cursor-hand" ng-click="select($index)">Timesheet</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</content>
