<content>
<div ng-controller="UsersManagementController">
  <h1 class="secondary">User Management - HR</h1><br />
  <div class="row">
    <form action="" class="form-inline col-xs-8">
      <p>Search Employees: <input type="text" placeholder="search" class="form-control" ng-model="query.firstName" /></p>
    </form>
        <a href="#/create-user" class="btn btn-success pull-right">Add New Employee</a>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <tr>
            <th class="th-narrow">Emp ID</th>
            <th class="th-narrow">Emp Name</th>
            <th class="th-narrow">User Name</th>
            <th class="th-wide">Assign to Supervisor</th>
            <th class="th-narrow">Labour Grade</th>
          </tr>
          <tr ng-click="select(u)" ng-repeat="u in users | filter: query">
            <td>{{u.id}}</td>
            <td>{{u.firstName}} {{u.lastName}}</td>
            <td>{{u.username}}</td>
            <td><span ng-show="hasSupervisor(u)">{{mapOfUsers[u.supervisorUserID].username}}</span>
              <a class="cursor-hand" ng-click="assign(u)" ng-hide="hasSupervisor(u)">Assign</a>
              <a class="cursor-hand" ng-click="assign(u)" ng-show="hasSupervisor(u)">Change</a>
            </td>
            <td>{{user.pLevel}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</content>
