<content>
  <div ng-controller="UserProfileController">
    <h1 class="secondary">User Profile</h1><br />
    <div class="row">
      <div class="table-responsive col-sm-6">
        <table class="table table-striped table-hover table-bordered">
          <tbody>
            <tr>
              <td>Employee ID</td>
              <td>{{user.id}}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{user.firstName}} {{user.lastName}}</td>
            </tr>
            <tr>
              <td>User Name</td>
              <td>{{user.username}}</td>
            </tr>
            <tr>
              <td>Password</td>
              <td>*****</td>
            </tr>
         </tbody>
        </table>
      </div>
      <div class="table-responsive col-sm-6">
        <table class="table table-striped table-hover table-bordered">
          <tbody>
            <tr>
              <td>P Level</td>
              <td>{{user.pLevel}}</td>
            </tr>
            <tr>
              <td>Assigned Manager</td>
              <td><span ng-show="hasSupervisor()">{{user.supervisorUserID}}</span>
                <span ng-hide="hasSupervisor()">None Assigned</span>
               </td>
            </tr>
            <tr>
              <td>Timesheet Approver</td>
              <td><span ng-show="hasTimesheetApprover()">{{user.timesheetApproverUserID}}</span>
              <span ng-hide="hasTimesheetApprover()">None Assigned</span>
              </td>
            </tr>
            <tr> 
              <td>Status</td>
              <td>{{user.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>    
    </div>
  </div>
</content>
