<content>
  <div class="row">
    <h1 class="secondary">User Profile</h1>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <tr>
            <td>Employee ID</td>
            <td></td>
          </tr>
          <tr>
            <td>Name</td>
            <td></td>
          </tr>
          <tr>
            <td>User Name</td>
            <td></td>
          </tr>
          <tr>
            <td>Password</td>
            <td></td>
          </tr>
          <tr>
            <td>Labor Grade</td>
            <td></td>
          </tr>
          <tr>
            <td>Assigned Manager</td>
            <td></td>
          </tr>
          <tr>
            <td>Assigned Project</td>
            <td></td>
          </tr>
          <tr>
            <td>Assigned WP</td>
            <td></td>
          </tr>
          <tr>
            <td>Status</td>
            <td>Active/Non-Active</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary pull-right">Save</button>
  </div>
</content>
