<content>
  <div ng-controller="UserProfileController">
    <div class="row">
      <h1 class="secondary">User Profile</h1>
    </div>
    <div class="row">
      <div class="table-responsive col-sm-6">
        <table class="table table-striped table-hover table-bordered">
          <tbody>
            <tr>
              <td>Employee ID</td>
              <td>{{mUser.id}}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{mUser.firstName}} {{mUser.lastName}}</td>
            </tr>
            <tr>
              <td>User Name</td>
              <td>{{mUser.username}}</td>
            </tr>
            <tr>
              <td>Password</td>
              <td><!-- {{user.password}} --> ****</td>
            </tr>
         </tbody>
        </table>
      </div>
      <div class="table-responsive col-sm-6">
        <table class="table table-striped table-hover table-bordered">
          <tbody>
            <tr>
              <td>Labor Grade</td>
              <td>{{mUser.pLevel}}</td>
            </tr>
            <tr>
              <td>Assigned Manager</td>
              <td>{{mUser.supervisorUserID}}</td>
            </tr>
            <tr>
              <td>Timesheet Approver</td>
              <td>{{mUser.timesheetApproverUserID}}</td>
            </tr>
            <tr> 
              <td>Status</td>
              <td>{{mUser.status}} Active/Non-Active</td>
            </tr>
          </tbody>
        </table>
      </div>    
    </div>
    <div class="row">
      <a href="#/assign-employee-project/{{mUser.Id}}" ng-hide=""class="btn btn-primary pull-left">Add to Project</a>
      <button class="btn btn-primary pull-right">Save</button>
    </div>
    <div class="row">
      <h1>Assigned Projects and WPs</h1>
    </div>
  </div>
</content>
