<content>
  <h1 class="secondary">Work Package Details</h1><br />
  <div ng-controller="WPDetailsController">
    <!-- <p>{{package}}</p> -->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <p class="col-sm-3">Project No: {{package.projectNumber}}</p>
          <p class="col-sm-3">Project Name: {{project.projectName}}</p>
        </div>
        <div class="row">
          <p class="col-sm-3">WP Number: {{package.workPackageNumber}}</p>
          <p class="col-sm-8">WP Title: {{package.workPackageName}}</p>
        </div>
        <div class="row">
          <p class="description col-sm-12">
            WP Description
          </p>
        </div>
      </div>
    </div>      
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">Assigned Employees:</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <th>Assigned Employees</th>
                  <th>Pay Grade</th>
                </thead>
                <tbody>
                  <tr ng-repeat="user in assignedUsers">
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.pLevel}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>            
        </div>        
      </div>
      <div class="col-sm-7">
        <div class="panel panel-default">
          <div class="panel-heading">Engineering Estimate:</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <th>Pay Grade</th>
                  <th>Person Days</th>
                </thead>
                <tbody>
                  <tr ng-repeat="pLevel in pLevels">
                    <td>{{estimate.pLevel}}</td>
                    <td>{{estimate.personDays}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">Status Reports</div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <th>Status Report ID</th>
                <th>Date</th>
              </thead>
              <tbody ng-click="select" ng-repeat="report in reports">
                <tr>
                  <td>{{report.id}}</td>
                  <td>{{report.reportDate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>  
</content>
