<content>
  <h1 class="secondary">Work Package Details</h1><br />
  <div ng-controller="WPDetailsController">
    <!-- <p>{{package}}</p> -->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <p class="col-sm-3">Project No: {{package.projectNumber}}</p>
          <p class="col-sm-3">Project Name: {{project.projectName}}</p>
        </div>
        <div class="row">
          <p class="col-sm-3">WP Number: {{package.workPackageNumber}}</p>
          <p class="col-sm-8">WP Title: {{package.workPackageName}}</p>
        </div>
        <div class="row">
          <p class="description col-sm-12">
            WP Description: {{package.description}}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">Initial Estimate</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <th>P1</th>
                  <th>P2</th>
                  <th>P3</th>
                  <th>P4</th>
                  <th>P5</th>
                  <th>DS</th>
                  <th>SS</th>
                </thead>
                <tbody>
                  <tr>
                    <td ng-repeat="effort in listOfEffort"><input type="number" class="form-input min-width" min="0" ng-model="effort.pLevel"></td>
                  </tr>
                </tbody>
              </table>
              <button ng-click="save()">Save</button>
            </div>
          </div>
        </div>        
      </div>
    </div>   

    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">Budget & Cost:</div>
            <div class="panel-body">
              <p id="budgetCost">Budgeted Cost: {{report.InitialEstimateInDollars | currency }}</p>
              <p id="remainingBudget">Remaining Budget: {{(report.InitialEstimateInDollars - report.CurrentSpendingInDollars) | currency }}</p>
              <p id="endingBudget">Expected Ending Budget: {{(report.CurrentSpendingInDollars + report.RemainingEstimateInDollars) | currency}}</p>
            </div>
        </div>        
      </div>
      <div class="col-sm-7">
        <div class="panel panel-default">
          <div class="panel-heading">P-Level:</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <th>P-Level</th>
                  <th>Initial Estimate Budget</th>
                  <th>Current Spending</th>
                  <th>Estimate to End</th>
                </thead>
                <tbody>
                  <tr ng-repeat="data in dataArray | orderBy: data.level">
                    <td ng-bind="data.level | uppercase"></td>
                    <td ng-bind="(data.ie * 10)"></td>
                    <td ng-bind="(data.cs * 10)"></td>
                    <td ng-bind="(data.re * 10)"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">Status Reports</div>
          <div class="panel-body">
           <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <th>Status Report ID</th>
                <th>Date</th>
              </thead>
              <tbody ng-click="select" ng-repeat="report in reports">
                <tr>
                  <td>{{report.id}}</td>
                  <td>{{report.reportDate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>        
    </div>
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">Assigned Employees:</div>
        <div class="panel-body">
        <input type="text" ng-model="query" placeholder="Search User" class="form-control" />
            <br />
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <th>Assigned Employees</th>
                <th>Pay Grade</th>
              </thead>
              <tbody>
                <tr ng-repeat="user in assignedUsers | filter: search | limitTo: quantity">
                  <td>{{user.firstName}} {{user.lastName}}</td>
                  <td>{{user.pLevel}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>        
    </div>
  </div>
</content>

