<content>
  <div ng-controller="WPDetailsController">
  <h1 class="secondary">Work Package Details</h1>
    <ol class="breadcrumb">
      <li><a href="#/manage-wp-pm">Manage Work Package</a></li>
      <li class="active">Work Package Details</li>
    </ol>     
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <p class="col-xs-3">Project No: <span ng-bind="package.projectNumber" /></p>
          <p class="col-xs-3">Project Name: <span ng-bind="project.projectName"/></p>
          <p class="col-xs-3">Status:
             <span class="cursor-hand" ng-bind="package.progressStatus | alterStatus"/>
             <span class="glyphicon glyphicon-pencil pull-right" ng-click="toggleStatus()" has-permission="Hr"></span>
          </p>
        </div>
        <div class="row">
          <p class="col-xs-3">WP Number: {{package.workPackageNumber}}</p>
          <p class="col-xs-8">WP Title: {{package.workPackageName}}</p>
        </div>
        <div class="row">
          <p class="description col-xs-12">
            WP Description: {{package.description}}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Initial Estimate</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered table-responsive">
                <thead>
                  <th>P1</th>
                  <th>P2</th>
                  <th>P3</th>
                  <th>P4</th>
                  <th>P5</th>
                  <th>DS</th>
                  <th>SS</th>
                </thead>
                <tbody>
                  <tr>
                    <td ng-repeat="effort in listOfEffort">
                      <span ng-show="hasEffort" ng-bind="effort.personDays" />
                      <input ng-hide="hasEffort" type="number" class="form-input min-width" min="0" totenth ng-model="effort.personDays">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br />
            <button class="btn btn-primary pull-right" ng-hide="hasEffort" ng-click="save()">Save</button>
          </div>
        </div>        
      </div>
    </div>   

    <div class="row">
      <div class="col-xs-5">
        <div class="panel panel-default">
            <div class="panel-heading">Budget & Cost:</div>
            <div class="panel-body">
              <p id="budgetCost">Budgeted Cost: {{report.InitialEstimateInDollars | currency }}</p>
              <p id="remainingBudget">Remaining Budget: <span ng-class="{'negative': ((report.InitialEstimateInDollars - report.CurrentSpendingInDollars) < 0)}">{{(report.InitialEstimateInDollars - report.CurrentSpendingInDollars) | currency }}</span></p>
              <p id="endingBudget">Expected Ending Budget: {{(report.CurrentSpendingInDollars + report.RemainingEstimateInDollars) | currency}}</p>
            </div>
        </div>        
      </div>
      <div class="col-xs-7">
        <div class="panel panel-default">
          <div class="panel-heading">P-Level:</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <th>P-Level</th>
                  <th>Initial Estimate Budget</th>
                  <th>Current Spending</th>
                  <th>Estimate to End</th>
                </thead>
                <tbody>
                  <tr ng-repeat="data in dataArray | orderBy: data.level">
                    <td ng-bind="data.level | uppercase"></td>
                    <td ng-bind="data.ie | fromTenth"></td>
                    <td ng-bind="data.cs | fromTenth"></td>
                    <td ng-bind="data.re | fromTenth"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-heading">Status Reports</div>
          <div class="panel-body">
           <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <th>Status Report ID</th>
                <th>Date</th>
              </thead>
              <tbody>
                <tr ng-click="openReport(report)" class="cursor-hand" ng-repeat="report in reports">
                  <td>{{report.id}}</td>
                  <td>{{report.reportDate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>        
    </div>
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Assigned Employees:</div>
        <div class="panel-body">
        <input type="text" ng-model="query" placeholder="Search User" class="form-control" />
            <br />
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <th>Assigned Employees</th>
                <th>Pay Grade</th>
              </thead>
              <tbody>
                <tr ng-repeat="user in assignedUsers | filter: search | limitTo: quantity">
                  <td>{{user.firstName}} {{user.lastName}}</td>
                  <td>{{user.pLevel}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>        
    </div>
  </div>
</content>

