<content>
  <h1 class="secondary">Work Package Status Report</h1><br />
  <div ng-controller="WPStatusReportClosedController">
   <div class="row">
     <p class="col-lg-3"><strong>Project No. </strong>{{wp.projectNumber}}</p>
   </div>
   <div class="row">
    <p class="col-lg-3">
      <strong>Work Package No: </strong>{{report.workPackageNumber}}
    </p>
    <p class="col-lg-5">
     <strong>Work Package Name: </strong>{{wp.workPackageName}}
   </p>
 </div>
 <form class="form-inline" role="form">
  <div class="form-group">
   <label for="reportDate">Report Date: </label>  
   <span ng-bind="report.reportDate" id="reportDate" />        
 </div>
</form>
<hr />
<div class="row">
  <div class="col-lg-4">
    <table class="table table-hover table-nonfluid table-bordered">
      <tbody>
        <tr>
          <th>Pay Grade</th>
          <th>Person Days</th>
        </tr>
        <tr ng-repeat="effort in report.estimatedWorkRemainingInPD">
          <td><span ng-bind="effort.pLevel"></span></td><td><span ng-bind="effort.personDays | fromTenth"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-8">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a class="cursor-hand" data-target="#workAccomplished" data-toggle="tab" >Work<br/> Accomplished</a></li>
      <li><a class="cursor-hand" data-target="#problemEncountered" data-toggle="tab">Problem<br/> Encountered</a></li>
      <li><a class="cursor-hand" data-target="#comment" data-toggle="tab">Comment<br/>&nbsp;</a></li>
      <li><a class="cursor-hand" data-target="#problemAnticipated" data-toggle="tab">Problem<br/> Anticipated</a></li>
      <li><a class="cursor-hand" data-target="#workPlanned" data-toggle="tab">Work<br/> Planned</a></li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="workAccomplished">
        <span ng-bind="report.workAccomplished"></span>
      </div>
      <div class="tab-pane" id="problemEncountered">
        <span ng-bind="report.problemEncountered"></span>
      </div>
      <div class="tab-pane" id="comment">
        <span ng-bind="report.comment"></span>
      </div>
      <div class="tab-pane" id="problemAnticipated">
        <span ng-bind="report.problemAnticipated"></span>
      </div>
      <div class="tab-pane" id="workPlanned">
        <span ng-bind="report.workPlanned"></span>
      </div>
    </div>
  </div>
</div>
</div>
</content>
