<content>
  <h1 class="secondary">Work Package Status Report</h1><br />
  <div ng-controller="WPStatusReportController">
   <div class="row">
     <p class="col-lg-3"><strong>Project No. </strong>{{package.projectNumber}}</p>
   </div>
   <div class="row">
    <p class="col-lg-3">
      <strong>Work Package No: </strong>{{package.workPackageNumber}}
    </p>
    <p class="col-lg-5">
     <strong>Work Package Name: </strong> {{package.workPackageName}}
   </p>
 </div>
 <form class="form-inline" role="form">
  <div class="form-group">
   <label for="reportDate">Report Date: </label>          
   <input ng-model="reportDate" type="date" class="form-control" id="reportDate" />
 </div>
</form>
<hr />
<div class="row">
  <div class="col-lg-4">
    <table class="table table-hover table-nonfluid table-bordered">
      <tbody>
        <tr>
          <th>Pay Grade</th>
          <th>Estimate to Complete in Person Days</th>
        </tr>
        <tr ng-repeat="effort in listOfEffort">
          <td>{{effort.pLevel}}</td><td><input type="number" ng-model="effort.personDays" class="text-right" /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-8">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a class="cursor-hand" data-target="#workAccomplished" data-toggle="tab" >Work<br/> Accomplished</a></li>
      <li><a class="cursor-hand" data-target="#problemEncountered" data-toggle="tab">Problem<br/> Encountered</a></li>
      <li><a class="cursor-hand" data-target="#comment" data-toggle="tab">Comment<br/>&nbsp;</a></li>
      <li><a class="cursor-hand" data-target="#problemAnticipated" data-toggle="tab">Problem<br/> Anticipated</a></li>
      <li><a class="cursor-hand" data-target="#workPlanned" data-toggle="tab">Work<br/> Planned</a></li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="workAccomplished">
        <textarea class="form-control" ng-model="workAccomplished" rows="15" cols="50" placeholder="WorkAccomplished: "></textarea>
      </div>
      <div class="tab-pane" id="problemEncountered">
        <textarea class="form-control" ng-model="problemEncountered" rows="15" cols="50" placeholder="Problem Encountered:"></textarea>
      </div>
      <div class="tab-pane" id="comment">
        <textarea class="form-control" ng-model="comment" rows="15" cols="50" placeholder="Comment:"> </textarea>
      </div>
      <div class="tab-pane" id="problemAnticipated">
        <textarea class="form-control" ng-model="problemAnticipated" rows="15" cols="50" placeholder="Problem Anticipated:"></textarea>
      </div>
      <div class="tab-pane" id="workPlanned">
        <textarea class="form-control" ng-model="workPlanned" rows="15" cols="50" placeholder="Work Planned:"> </textarea>
      </div>
    </div>
    <br />        
    <button ng-click="submit()" class="btn btn-primary pull-right">Submit Report</button>
      <button type="button" class="btn btn-primary pull-right" onclick="javascript:window.print()">Print</button>
  </div>
</div>
</div>
</content>
